.mainpage-outside-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.mainpage-inside-header {
    justify-content: space-between;
    align-items:baseline;
}